body {
    font-family: Arial, sans-serif;
    background: pink;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

img {
    width: 250px;
    margin: 20px 0;
}

button {
    padding: 12px 25px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

#yesBtn {
    background: #ff4d6d;
    color: white;
}

#noBtn {
    background: #ccc;
}
